*.log
.vscode/
.DS_Store
Thumbs.db
# ไม่เอาไฟล์ .env
backend/.env

# โฟลเดอร์ node_modules (ถ้าเป็นโปรเจกต์ JS)
backend/node_modules/

frontend/

ai/

# ไฟล์ระบบจาก editor
.vscode/
.DS_Store
Thumbs.db